<header class="header" ng-controller="Header">
	<div class="logo" ng-click="goHref()">	
		<img src="images/logo.png">
		<!-- <a ng-href="/#/home"><img src="images/logo.png"></a> -->
	</div>
	<div class="nav">
		<ul>
	    <li><a ui-sref-active="active" ui-sref="home">支氏控股</a></li>
	    <li><a ui-sref-active="active" ui-sref="group">集团概况</a></li>
	    <li><a ui-sref-active="active" ui-sref="corporate">企业文化</a></li>
	    <!-- <li><a ui-sref-active="active" ui-sref="news">新闻中心</a></li>
	    <li><a ui-sref-active="active" ui-sref="recruit">人才招聘</a></li> -->
	  </ul>
	</div>	
</header>	