.main{
	margin-bottom: 124px;
	& ul li{
		margin: 36px 120px 0;
		&.mainBorder{
			border: none;
		}
		& .mainLi{
			width: 600px;
			margin: 0 auto;
			& .mainLihead{
				background-color: #f0f0f0;
				color: #333;
				text-align: center;
				padding: 15px 0;
				margin: 20px 0;
				& h4{
					font-size: 18px;
					line-height: 25px;
					font-weight: bold;
				}
				& h5{
					font-size: 12px;
					line-height: 17px;
					& span{
						background-color: #D0011B;
						width: 4px;
						height: 12px;
						display: inline-block;
						vertical-align: middle;
						margin: -3px 5px 0 0;
					}
				}
			}
			& .aboutMain{
				& p{
					margin-bottom: 40px;
					font-size: 14px;
					color: #333;
					line-height: 24px;
					text-indent: 0;
				}
			}
		}
	}
}